@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400,500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  /* border: 1px solid wheat; */
  font-family:'Montserrat', Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body{
  position :relative; /* To overlay header on main*/
  color: #0B202F;
  background-color: #FAFFAF;
  overflow: hidden;
}


header{
  width: 100vw;
  height: 10vh;
  padding: 0 10px;
  position: fixed; /* To stay on top and override static to use z-indexing */
  z-index: 2;
  display: flex;
  justify-content: flex-end; 

}

nav{
  display: flex;
  width:35%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav li{
  list-style: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;

}

main{
  position: relative;
  /* top:0;
  left: 0; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 1;  /* Z-Index to be set below Header Nav */
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

aside{
  background-color: #0B202F;
  color: #ffffff ;
  padding: 10vh 4.5rem;
  display:flex;
  max-height: 100vh;
}
.side-container{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  text-align: justify;
}
.side-container h1{
  font-weight: 700;
  font-size: 4.5em;
}

.side-container img{
  max-width: 45%;

}

main section{
  overflow-y: scroll;
  height:auto;
}
.hero{
  height: 70vh;
  background-color: #95D1CC;
  padding: 15% 10% 0;
}
.hero .welcome-line {
  margin:5vh 0;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

#weather-wrapper{
  margin-top: 3rem;
  padding: 0.5rem;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: rgba(253, 253, 253, 0.25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#weather-city{
  padding: 0 1rem;
  display:flex;
  align-items: baseline;
}

#weather-city h1{
  font-weight: 600;
  font-size: 2.5rem;
  display: inline-block;
}
#weather-city p{
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
  flex: 0.9;
}
#weather-city h2{
  font-weight: 500;
  font-size: 2rem; 
  display: inline-block;
}

#content{
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding-left: 0.5rem;
}
#weather-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-right: 1rem;
}
#weather-condition{
  display:flex;
  justify-content: center;
  align-items: center;
}
#weather-condition img{
  width:50%;
}

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 400px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}
#city-el{
  flex:1;
  border: none;
  box-shadow: none;
  font-size: 15px;
}
#city-el:focus-visible{
  outline: none;
  font-size: 18px;
  transition: ease 0.1s;
}

#search{
  background: none;
  border: none;
  margin-right: 10px;
}
#search i:hover{
  color:#FAFFAF;
}
